@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

body {
    cursor: url('@/assets/cursor.png') 0 0, auto;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #1d1d1d;
    border-radius: 10px;
    border: 1px solid #4d4d4d;
}

::-webkit-scrollbar-thumb {
    background: #4d4d4d;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #6c6c6c;
}
